.weatherdashboard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44rem;
  background-image: linear-gradient(rgb(226, 255, 165), rgb(106, 253, 194), rgb(0, 111, 128));
}

.inputbox {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: none;
  font-size: 17px;
}

.searchbox {
  padding: 6px;
  margin-top: 8px;
  margin-right: 16px;
  border: 1%;
  border-color: green;
  border-radius: 10%;
  font-size: 17px;
  color: green;
  background-color: rgb(110, 246, 126);
}